h1 {
    color: red;
}

.box {
    height: 50px;
    width: 50px;
    float:left;
}

#box_up {
    background-color: red;
}

#box_left {
    background-color: blue;
    clear: left;
}

#box_down {
    background-color: orange;
}

#box_right {
    background-color: green;
}

#box_start {
    background-color: black;
    color: white;
    clear: left;

}